.productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form-product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
}
